<html>
<head>
	<title>Random Name Generator</title>
</head>
<body data-gr-ext-installed="" data-new-gr-c-s-check-loaded="14.1115.0">
<h1 style="text-align: center;"><span style="font-family:courier new,courier,monospace;">Random Name Generator<span style="font-size:14px;"> v0.01a</span></span></h1>

<form action="127.0.0.1:7777" enctype="text/plain" method="get" name="nameform">
<table align="center" border="0" cellpadding="1" cellspacing="1" style="width:500px;">
	<tbody>
		<tr>
			<td><span style="font-family:courier new,courier,monospace;"><input checked="checked" name="freq" type="checkbox" value="1" />Use frequency tables</span></td>
			<td>
			<p><input checked="checked" name="sex" type="radio" value="1" /><span style="font-family:courier new,courier,monospace;">Female</span></p>
			</td>
			<td><input name="sex" type="radio" value="2" /><span style="font-family:courier new,courier,monospace;">Male</span></td>
			<td><input checked="checked" name="surnames" type="checkbox" value="1" /><span style="font-family:courier new,courier,monospace;">Surnames</span></td>
		</tr>
		<tr>
			<td colspan="2" style="text-align: center;"><input name="Submit" type="submit" value="submit" /></td>
			<td colspan="2" style="text-align: center;"><span style="font-family:courier new,courier,monospace;">Count</span>&nbsp;<input maxlength="4" name="count" size="4" type="text" value="10" /></td>
		</tr>
	</tbody>
</table>
</form>

<table align="center" border="0" cellpadding="1" cellspacing="1" style="width:500px;">
	<tbody>
		<tr>
			<td style="width: 50%; text-align: right;"><span style="font-family:courier new,courier,monospace;">&nbsp;</span></td>
			<td style="width: 50%; text-align: right;"><span style="font-family:courier new,courier,monospace;">&nbsp;</span></td>
		</tr>
		<tr>
			<td style="width: 50%; text-align: right;"><span style="font-family:courier new,courier,monospace;">&nbsp;</span></td>
			<td style="text-align: right; width: 50%;"><span style="font-family:courier new,courier,monospace;">&nbsp;</span></td>
		</tr>
	</tbody>
</table>
<grammarly-desktop-integration data-grammarly-shadow-root="true"></grammarly-desktop-integration></body>
</html>
