<html>
<head>
	<title>Random Name Generator</title>
</head>
<body data-gr-ext-installed="" data-new-gr-c-s-check-loaded="14.1115.0">
<h1 style="text-align: center;"><span style="font-family:courier new,courier,monospace;">Random Name Generator<span style="font-size:14px;"> v0.01a</span></span></h1>

<form action="127.0.0.1:7777" enctype="text/plain" method="get" name="nameform">
<table align="center" border="1" cellpadding="1" cellspacing="1" style="width:700px;">
	<tbody>
		<tr>
			<td style="text-align: center;"><span style="font-family:courier new,courier,monospace;"><input checked="checked" name="freq" type="checkbox" value="1" /><br />Use frequency tables</span></td>
			<td style="text-align: center;">
			<p><input checked="checked" name="sex" type="radio" value="1" /><span style="font-family:courier new,courier,monospace;"><br />Female</span></p>
			</td>
			<td style="text-align: center;"><input name="sex" type="radio" value="2" /><span style="font-family:courier new,courier,monospace;"><br />Male</span></td>
			<td style="text-align: center;"><input checked="checked" name="surnames" type="checkbox" value="1" /><span style="font-family:courier new,courier,monospace;"><br />Surnames</span></td>
			<td style="text-align: center;"><input name="surnames" type="checkbox" value="2" /><span style="font-family:courier new,courier,monospace;"><br />Race Surnames</span></td>
		</tr>
		<tr>
			<td width="20%" style="text-align: center;"><input checked="checked" name="race" type="radio" value="1" /><br />White</td>
			<td width="20%" style="text-align: center;"><input name="race" type="radio" value="2" /><br />Black</td>
			<td width="20%" style="text-align: center;"><input name="race" type="radio" value="3" /><br />Hispanic</td>
			<td width="20%" style="text-align: center;"><input name="race" type="radio" value="4" /><br />Asian/Pacific</td>
			<td width="20%" style="text-align: center;"><input name="race" type="radio" value="5" /><br />Native American/Alaskin</td>
		</tr>
		<tr>
			<td colspan="2" style="text-align: center;"><input name="Submit" type="submit" value="submit" /></td>
			<td colspan="3" style="text-align: center;"><span style="font-family:courier new,courier,monospace;">Count</span>&nbsp;<input maxlength="4" name="count" size="4" type="text" value="10" /></td>
		</tr>
	</tbody>
</table>
</form>

<p>
</p>

<table align="center" width="700" border="1">
	<tr>
		<td style="text-align: center;"></style>
			X
		</td>
		<td style="text-align: center;"></style>
			X
		</td>
	</tr>
</table>

<p></p>
<p></p>

<form action="127.0.0.1:7777" enctype="text/plain" method="get" name="rebuild">
<table align="center" border="1" cellpadding="1" cellspacing="1" style="width:700px;">
	<tbody>
		<tr>

			<td style="text-align: center;"><input name="Submit" type="submit" value="rebuild" /></td>
			<td style="text-align: center;"><span style="font-family:courier new,courier,monospace;"><input maxlength="6" name="surnamemax" size="6" type="text" value="4000" /><br />Surname max<br /><b>-1</b> for all</span></td>
			
		</tr>
	</tbody>
</table>
</form>



<table align="center" border="0" cellpadding="1" cellspacing="1" style="width:500px;">
	<tbody>
		<tr>
			<td style="width: 50%; text-align: right;"><span style="font-family:courier new,courier,monospace;">&nbsp;</span></td>
			<td style="width: 50%; text-align: right;"><span style="font-family:courier new,courier,monospace;">&nbsp;</span></td>
		</tr>
		<tr>
			<td style="width: 50%; text-align: right;"><span style="font-family:courier new,courier,monospace;">&nbsp;</span></td>
			<td style="text-align: right; width: 50%;"><span style="font-family:courier new,courier,monospace;">&nbsp;</span></td>
		</tr>
	</tbody>
</table>
<grammarly-desktop-integration data-grammarly-shadow-root="true"></grammarly-desktop-integration></body>
</html>
